# Backend node modules
backend/node_modules/

# Frontend node modules
frontend/node_modules/

# Env files
backend/.env
frontend/.env

# Build folders
frontend/build/
backend/dist/  # if you transpile backend code (optional)

# Logs
*.log
